---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Cart from "../components/reactComponents/Cart";
import Carousel from "../components/reactComponents/Carousel";
import Description from "../components/Description.astro";
import product from "../constants/products/properties";
import AddToCartButton from "../components/reactComponents/AddToCartButton";
---

<Layout>
  <Cart client:load />

  <Navbar />
  <main
    class="p-8 w-full h-full flex flex-col gap-8 mt-16 md:gap-16 md:items-center md:min-h-dvh md:justify-center md:p-0 md:m-0"
  >
    <div
      class="md:grid md:grid-cols-2 md:gap-32 md:w-11/12 md:px-32 md:h-164 md:items-center lg:w-9/12"
    >
      <Carousel client:load />
      <div class="flex flex-col gap-8">
        <Description {...product} />
        <AddToCartButton client:visible />
      </div>
    </div>
  </main>
</Layout>
